<header>
    <div class="pt-lg-7">
        <div class="container px-0">
            <div class="d-flex justify-content-between align-items-center header-wrapper">
                <div class="d-flex align-items-center header-logo-wrapper">
                    <!-- pb-1 pb-lg-2 -->
                    <h1 class="header-logo">
                        <a href="../pages/index.html" class="d-flex align-items-center">
                            <!-- style="width: 200px; height: 32px;" -->
                            <img src="../assets/images/logo.png" alt="LEARNING" class="logo">
                        </a>
                    </h1>
                    <!-- 下拉選單 - lg 時出現 -->
                    <nav class="navbar navbar-expand-lg py-0 pe-lg-5 navbar-lg">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ps-lg-8" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-0 d-flex" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        探索
                                    </a>
                                    <div class="dropdown-menu mt-8 p-0">
                                        <div class="d-flex dropdown-menu-contect">
                                            <!-- 桌機版 - 第一層  -->
                                            <!-- 使用 JS 控制 group -->
                                            <ul class="group first list-unstyled px-2">
                                                <li class="py-2 ps-5 pe-2">探索全部</li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>音樂</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>攝影</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0 firstOpen"
                                                        href="#">
                                                        <p>程式</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>程式</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>藝術</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>人文</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>投資理財</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>心靈成長</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>

                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                            </ul>
                                            <!-- 桌機版 - 第二層默认隐藏  -->
                                            <!-- 在第一層點擊後才會出現列表 -->
                                            <ul class="group second list-unstyled px-2 pt-2">
                                                <li class="py-2 ps-5 pe-2">所有程式</li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>程式入門</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0 secondOpen"
                                                        href="#">
                                                        <p>網頁前端</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>網頁後端</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>網站架設</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>資訊安全</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>程式語言</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>遊戲開發</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>資料科學</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>人工智慧</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                                <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                        href="#">
                                                        <p>量化分析</p><i class="bi bi-chevron-right"></i>
                                                    </a></li>
                                            </ul>
                                            <!-- 桌機版 - 第三層默认隐藏  -->
                                            <!-- 在第三層點擊後才會出現列表 -->
                                            <div class="group third px-5 pt-2">
                                                <h3
                                                    class="d-flex align-items-center gap-1 pb-3 border-bottom border-1 border-gray-40">
                                                    <img src="../assets/images/icons/ic_fire.png" alt="ic_fire"
                                                        style="width: 24px; height: 24px;"> 熱門網頁前端課程
                                                </h3>
                                                <ul
                                                    class="d-flex justify-content-between list-unstyled mt-3 pb-5 border-1 border-bottom">
                                                    <li class="position-relative">
                                                        <img src="../assets/images/course-5.png" alt="course"
                                                            class="overflow-hidden"
                                                            style="height: 100px; width: 100px; border-radius: 12px;">
                                                        <div
                                                            class="third-special bg-danger-10 text-danger-100 position-absolute">
                                                            8 折</div>
                                                    </li>
                                                    <li class="third-content text-gray-100">
                                                        <h5 class="pb-5"><a href="#">小白也會！從零開始學習 Python 程式設計</a></h5>
                                                        <div
                                                            class="d-flex justify-content-between border-bottom border-1 border-gray-40 pb-1">
                                                            <div class="third-content-author d-flex align-items-center">
                                                                <img src="../assets/images/avatar-2.png" alt="avatar"
                                                                    style="width: 32px; height: 32px;"
                                                                    class="w-auto h-auto overflow-hidden pe-1">
                                                                <p class="text-gray-80 fw-normal">Kelly Hsu</p>
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-end">
                                                                <div class="text-primary-100 fw-semibold">NT$ 2,480
                                                                </div>
                                                                <del class="third-content-deletePrice fw--normal">NT$
                                                                    3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between py-1">
                                                            <p class="third-content-people">已有 420 位同學加入</p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex">
                                                                    <img src="../assets/images/icons/ic_star.png"
                                                                        alt="ic_star"
                                                                        class="third-content-icon overflow-hidden w-auto h-auto"
                                                                        style="height: 12px; width: 12px;">
                                                                </div>
                                                                <div class="d-flex">
                                                                    <p class="third-content-score">4.0</p>
                                                                    <p class="third-content-number">(333)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul
                                                    class="d-flex justify-content-between list-unstyled mt-3 pb-5 border-1 border-bottom">
                                                    <li class="position-relative">
                                                        <img src="../assets/images/course-5.png" alt="course"
                                                            class="overflow-hidden"
                                                            style="height: 100px; width: 100px; border-radius: 12px;">
                                                        <div
                                                            class="third-special bg-danger-10 text-danger-100 position-absolute">
                                                            8 折</div>
                                                    </li>
                                                    <li class="third-content text-gray-100">
                                                        <h5 class="pb-5"><a href="#">小白也會！從零開始學習 Python 程式設計</a></h5>
                                                        <div
                                                            class="d-flex justify-content-between border-bottom border-1 border-gray-40 pb-1">
                                                            <div class="third-content-author d-flex align-items-center">
                                                                <img src="../assets/images/avatar-2.png" alt="avatar"
                                                                    style="width: 32px; height: 32px;"
                                                                    class="w-auto h-auto overflow-hidden pe-1">
                                                                <p class="text-gray-80 fw-normal">Kelly Hsu</p>
                                                            </div>
                                                            <div
                                                                class="d-flex flex-column justify-content-end align-items-end">
                                                                <div class="text-gray-60 fw-semibold">已購買</div>
                                                                <del class="third-content-deletePrice fw--normal">NT$
                                                                    3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between py-1">
                                                            <p class="third-content-people">已有 420 位同學加入</p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex">
                                                                    <img src="../assets/images/icons/ic_star.png"
                                                                        alt="ic_star"
                                                                        class="third-content-icon overflow-hidden w-auto h-auto"
                                                                        style="height: 12px; width: 12px;">
                                                                </div>
                                                                <div class="d-flex">
                                                                    <p class="third-content-score">4.0</p>
                                                                    <p class="third-content-number">(333)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="d-flex justify-content-between list-unstyled mt-3">
                                                    <li class="position-relative">
                                                        <img src="../assets/images/course-5.png" alt="course"
                                                            class="overflow-hidden"
                                                            style="height: 100px; width: 100px; border-radius: 12px;">
                                                        <div
                                                            class="third-special bg-danger-10 text-danger-100 position-absolute">
                                                            8 折</div>
                                                    </li>
                                                    <li class="third-content text-gray-100">
                                                        <h5 class="pb-5"><a href="#">小白也會！從零開始學習 Python 程式設計</a></h5>
                                                        <div
                                                            class="d-flex justify-content-between border-bottom border-1 border-gray-40 pb-1">
                                                            <div class="third-content-author d-flex align-items-center">
                                                                <img src="../assets/images/avatar-2.png" alt="avatar"
                                                                    style="width: 32px; height: 32px;"
                                                                    class="w-auto h-auto overflow-hidden pe-1">
                                                                <p class="text-gray-80 fw-normal">Kelly Hsu</p>
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-end">
                                                                <div class="text-primary-100 fw-semibold">NT$ 2,480
                                                                </div>
                                                                <del class="third-content-deletePrice fw--normal">NT$
                                                                    3,200</del>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-between py-1">
                                                            <p class="third-content-people">已有 420 位同學加入</p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex">
                                                                    <img src="../assets/images/icons/ic_star.png"
                                                                        alt="ic_star"
                                                                        class="third-content-icon overflow-hidden w-auto h-auto"
                                                                        style="height: 12px; width: 12px;">
                                                                </div>
                                                                <div class="d-flex">
                                                                    <p class="third-content-score">4.0</p>
                                                                    <p class="third-content-number">(333)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- 搜尋框 -->
                    <div class="input-group">
                        <span class="input-group-text border-0 p-0 bg-transparent pe-2" id="searchIcon"><i
                                class="bi bi-search"></i></span>
                        <input type="search" class="form-control p-0 border-0 bg-transparent"
                            placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search" aria-describedby="searchIcon">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-sm btn-primary-100 text-gray-0 border-0" type="button">搜尋</button>
                        </div>
                    </div>
                </div>
                <!-- 通知、購物車、登入按鈕 -->
                <div class="d-flex align-items-center">
                    <ul class="d-flex list-unstyled">
                        <li class="dropdown d-flex align-items-center header-icon py-1 px-2">
                            <a href="#" class="position-relative dropdown-toggle-notify" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="../assets/images/icons/dot.png" alt="dot"
                                    class="position-absolute header-icon-dot text-primary-100">
                                <img style="width: 24px; height: 24ppx;"
                                    src="../assets/images/icons/ic_notifications.png" alt="通知">
                            </a>
                            <ul class="dropdown-menu dropdown-notify mt-7">
                                <li
                                    class="d-flex align-items-center justify-content-end py-2 pe-3 border-1 border-bottom border-gray-40 text-primary-100">
                                    <i class="bi bi-check-circle-fill pe-1"></i>
                                    <h5 class="dropdown-notify-title">全部標記為已讀</h5>
                                </li>
                                <li class="py-2 px-3 border-1 border-bottom border-gray-40 dropdown-item-notify-link">
                                    <a class="d-flex align-items-center dropdown-item-notify d-flex" href="#">
                                        <img src="../assets/images/icons/ic_trumpet.png" alt="trumpet"
                                            class="w-auto pe-3 overflow-hidden" style="width: 40px; height: 40px;">
                                        <div>
                                            <p class="pb-1 text-gray-80">系統通知：6 月 30 日 02:00 網<br>站系統排程更新</p>
                                            <span class="text-gray-60">4 天前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="py-2 px-3 border-1 border-bottom border-gray-40 dropdown-item-notify-link">
                                    <a class="d-flex align-items-center dropdown-item-notify d-flex" href="#">
                                        <img src="../assets/images/icons/ic_notify.png" alt="notify"
                                            class="w-auto pe-3 overflow-hidden" style="width: 40px; height: 40px;">
                                        <div>
                                            <p class="pb-1 text-gray-80">募資開課：您購買的募資課程已<br>成功開課！將於 3 天後公布課綱！</p>
                                            <span class="text-gray-60">7 天前</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="py-2 px-3 dropdown-item-notify-link">
                                    <a class="d-flex align-items-center dropdown-item-notify d-flex" href="#">
                                        <img src="../assets/images/icons/ic_notify.png" alt="notify"
                                            class="w-auto pe-3 overflow-hidden" style="width: 40px; height: 40px;">
                                        <div>
                                            <p class="pb-1 text-gray-80">募資開課：您購買的募資課程已<br>成功開課！將於 3 天後公布課綱！</p>
                                            <span class="text-gray-60">7 天前</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="d-flex align-items-center header-icon py-1 px-2">
                            <a href="#" class="position-relative">
                                <img src="../assets/images/icons/numder.png" alt="numder"
                                    class="position-absolute header-icon-number text-primary-100">
                                <img style="width: 24ppx; height: 24px;" src="../assets/images/icons/ic_Cart.png"
                                    alt="購物車">
                            </a>
                        </li>
                        <!-- 註冊登入 -->
                        <li>
                            <a href="./pages/login_register.html" class="btn btn-primary-100 text-gray-0 header-btn"
                                type="button">
                                登入 /
                                註冊
                            </a>
                        </li>
                        <!-- 已登入後的下拉選單 -->
                        <!-- <li class="header-member-icon dropdown">
                            <a href="#" class="d-lg-flex align-items-center dropdown-toggle-member"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/images/avatar-1.png" alt="avatar"
                                    class="overflow-hidden w-auto pe-1" style="width: 44px; height: 44px;">
                                <h5 class="member-name text-gray-80">Jessica</h5>
                            </a>
                            <ul class="dropdown-menu dropdown-member p-0 px-2">
                                <li class="border-1 border-bottom align-items-end pt-5 pb-3">
                                    <a class="d-flex align-items-end dropdown-item p-0" href="#">
                                        <img src="../assets/images/avatar-1.png" alt="avatar"
                                            class="overflow-hidden w-auto pe-1" style="width: 44px; height: 44px;">
                                        <div>
                                            <h5 class="member-name text-gray-100">Jessica</h5>
                                            <p class="member-class text-gray-60">學習初心者</p>
                                        </div>
                                    </a>
                                </li>
                                <ul class="member-settings border-1 border-bottom border-gray-40 py-3">
                                    <li class="py-2 ps-5">
                                        <a class="d-flex align-items-center dropdown-item p-0" href="#">
                                            <img src="../assets/images/icons/ic_profile.png" alt="profile"
                                                class="overflow-hidden w-auto pe-1">
                                            <h4 class="fw-normal">個人檔案</h4>
                                        </a>
                                    </li>
                                    <li class="py-2 ps-5">
                                        <a class="d-flex align-items-center dropdown-item p-0" href="#">
                                            <img src="../assets/images/icons/ic_fav.png" alt="fav"
                                                class="overflow-hidden w-auto pe-1">
                                            <h4 class="fw-normal">我的收藏</h4>
                                        </a>
                                    </li>
                                    <li class="py-2 ps-5">
                                        <a class="d-flex align-items-center dropdown-item p-0" href="#">
                                            <img src="../assets/images/icons/ic_setting.png" alt="setting"
                                                class="overflow-hidden w-auto pe-1">
                                            <h4 class="fw-normal">帳號設定</h4>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="member-settings border-1 border-bottom border-gray-40 py-3">
                                    <li class="py-2 ps-5">
                                        <a class="d-flex align-items-center dropdown-item p-0" href="#">
                                            <img src="../assets/images/icons/ic_order.png" alt="order"
                                                class="overflow-hidden w-auto pe-1">
                                            <h4 class="fw-normal">訂單紀錄</h4>
                                        </a>
                                    </li>
                                    <li class="py-2 ps-5">
                                        <a class="d-flex align-items-center dropdown-item p-0" href="#">
                                            <img src="../assets/images/icons/ic_Edit.png" alt="Edit"
                                                class="overflow-hidden w-auto pe-1">
                                            <h4 class="fw-normal">作業成果</h4>
                                        </a>
                                    </li>
                                </ul>
                                <li class="pt-3 pb-5">
                                    <a href="#" class="dropdown-item ps-5 py-3"><img
                                            src="../assets/images/icons/ic_logout.png" alt="logout" class="pe-1">登出</a>
                                </li>
                            </ul>
                        </li> -->
                        <!-- 下拉選單 - sm 時出現 -->
                        <nav class="navbar d-lg-none">
                            <div class="container px-0">
                                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="offcanvas offcanvas-end pt-3 px-5 border-0" tabindex="-1"
                                    id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                    <div class="offcanvas-body p-0 position-relative">
                                        <!-- 手機版 - 第一層  -->
                                        <!-- 使用 JS 控制 -->
                                        <ul class="mobileFirst list-unstyled">
                                            <li class="py-2 ps-5 pe-2">探索全部</li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>音樂</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>攝影</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0 mobilefirstOpen"
                                                    href="#">
                                                    <p>程式</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>程式</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>藝術</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>人文</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>投資理財</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>心靈成長</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                </a></li>

                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>職場技能</p><i class="bi bi-chevron-right"></i>
                                                </a></li>
                                        </ul>
                                        <!-- 手機版 - 第二層  -->
                                        <!-- 探索區塊 -->
                                        <ul class="mobileSecond list-unstyled position-absolute header-explore">
                                            <ul
                                                class="d-flex justify-content-around align-items-center list-unstyled border-1 border-bottom border-gray-40 mb-3">
                                                <li
                                                    class="text-primary-100 fw-semibold py-3 border-4 border-bottom border-primary-100 exploreLink">
                                                    <a href="#">探索</a>
                                                </li>
                                                <li class="text-gray-60 py-3 memberLink"><a href="#">我的會員</a></li>
                                            </ul>
                                            <li
                                                class="py-2 px-5 mobileSecond-title border-1 border-bottom border-gray-40">
                                                <a href="#" class="d-flex align-items-center">
                                                    <span class="material-symbols-outlined text-start">
                                                        chevron_left
                                                    </span>
                                                    <p class="mx-auto">所有程式</p>
                                                </a>
                                            </li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>程式入門</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>網頁前端</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>網頁後端</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>網站架設</p>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>資訊安全</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>程式語言</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>遊戲開發</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>資料科學</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>人工智慧</p>
                                                </a></li>
                                            <li><a class="py-2 ps-5 pe-2 d-flex justify-content-between dropdown-item p-0"
                                                    href="#">
                                                    <p>量化分析</p>
                                                </a></li>
                                        </ul>
                                        <!-- 手機版 - 第二層  -->
                                        <!-- 會員區塊 -->
                                        <ul class="list-unstyled position-absolute header-member w-100">
                                            <ul
                                                class="d-flex justify-content-around align-items-center list-unstyled border-1 border-bottom border-gray-40">
                                                <li class="text-gray-60 py-3 exploreLink">
                                                    <a href="#">探索</a>
                                                </li>
                                                <li
                                                    class="text-primary-100 fw-semibold py-3 border-4 border-bottom border-primary-100 memberLink">
                                                    <a href="#">我的會員</a>
                                                </li>
                                            </ul>
                                            <div class="d-flex py-3 border-1 border-bottom align-items-end">
                                                <img src="../assets/images/avatar-1.png" alt="avatar"
                                                    class="overflow-hidden w-auto pe-1"
                                                    style="width: 44px; height: 44px;">
                                                <div>
                                                    <h5 class="member-name text-gray-100">Jessica</h5>
                                                    <p class="member-class text-gray-60">學習初心者</p>
                                                </div>
                                            </div>
                                            <ul class="member-settings border-1 border-bottom border-gray-40 py-3">
                                                <li class="d-flex align-items-center py-2 px-5">
                                                    <img src="../assets/images/icons/ic_profile.png" alt="profile"
                                                        class="overflow-hidden w-auto pe-1">
                                                    <h4 class="fw-normal">個人檔案</h4>
                                                </li>
                                                <li class="d-flex align-items-center py-2 px-5">
                                                    <img src="../assets/images/icons/ic_fav.png" alt="fav"
                                                        class="overflow-hidden w-auto pe-1">
                                                    <h4 class="fw-normal">我的收藏</h4>
                                                </li>
                                                <li class="d-flex align-items-center py-2 px-5">
                                                    <img src="../assets/images/icons/ic_setting.png" alt="setting"
                                                        class="overflow-hidden w-auto pe-1">
                                                    <h4 class="fw-normal">帳號設定</h4>
                                                </li>
                                            </ul>
                                            <ul class="member-settings py-3">
                                                <li class="d-flex align-items-center py-2 px-5">
                                                    <img src="../assets/images/icons/ic_order.png" alt="order"
                                                        class="overflow-hidden w-auto pe-1">
                                                    <h4 class="fw-normal">訂單記錄</h4>
                                                </li>
                                                <li class="d-flex align-items-center py-2 px-5">
                                                    <img src="../assets/images/icons/ic_Edit.png" alt="Edit"
                                                        class="overflow-hidden w-auto pe-1">
                                                    <h4 class="fw-normal">作業成果</h4>
                                                </li>
                                            </ul>
                                        </ul>
                                    </div>
                                    <!-- 手機板，第二層時會消失 -->
                                    <div class="py-3 border-1 border-top border-gray-40 mobileLogin">
                                        <button class="btn btn-primary-100 text-gray-0 w-100" type="button">登入 /
                                            註冊</button>
                                    </div>
                                    <!-- 我的會員時出現 -->
                                    <div class="py-5 ps-5 border-1 border-top border-gray-40 mobileLogout">
                                        <a href="#"><img src="../assets/images/icons/ic_logout.png" alt="logout"
                                                class="pe-1">登出</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>